extends subpage-template
block document-title
  title About Carlos
block nav-links
    a(href="/") Work
    a(href="#").active About Me
    a(href="downloads/downlresume_CarlosOrtega.pdf", target="_blank") R&eacute;sum&eacute;
    a(href="mailto:carlos@cyborgspider.com") Email
block content
  #project-nav
    a#prev-project(href="culture-htmlworkshop.html", title="See Previous Project") &larr;
    a#next-project(href="culture-sports.html", title="See Next Project") &rarr;
  article
    h1 About Me
    img(src="img/me.jpg",alt="Me")
    p My name is Carlos Ortega, and I currently live and work in Los Angeles, CA. I grew up with drawing NBA team logos and making my own
      |personal comic books, so it's only natural that I ended up in a creative career. I'm seeking an environment of learning, collaboration,
      |mentoring and passion, a place where my contributions can enhance the experience of clients and colleagues alike!</p>
    p Away from the computer or pencil and paper, I am eagerly exploring, be it shooting graffiti in the urban concrete jungles, flying over
      |the San Fernando Valley in a helicopter class, or playing my Ibanez Artcore or Gibson SG bass guitar. I'm a foodie, so I'm always looking
      |for the next great hole in the wall (and yes, I take pictures of my food). I love basketball (watching and playing) and am constantly
      |scouring for the ultimate workout (preferably something that takes ten minutes, once a week). I'm also partial to Grooveshark and Pandora,
      |salsa dancing, and quoting Family Guy or Simpsons episodes.</p>
    p P.S. Spider-Man rocks.
    a.visit(href="http://www.linkedin.com/pub/carlos-ortega/53/305/953") LinkedIn
    a.visit(href="mailto:carlos@cyborgspider.com") Email