extends subpage-template
block document-title
  title Freelance Projects

block content
  #project-nav
    a#prev-project(href="coding-nexonprojects.html", title="See Previous Project") &larr;
    a#next-project(href="graphics-nf2.html", title="See Next Project") &rarr;
  article
    h1 Freelance Projects
    p From corporate websites, restaurant social networks, to my own personal side projects, I enjoy
      |practicing my craft outside the office walls. I'm constantly trying to provide extra value to my clients,
      |such as delivering best-practices documentation and initiating post-launch project maintenance training sessions.
      |I love to frequent industry meet-ups and events, and am always looking for ways to contribute to the community and my profession.

  #project-content
    a.visit(href="http://jclawcpa.com/index.php"): img(src="img/coding/freelance-1.jpg", alt="")
    a.visit(href="http://joonshabushabu.com"): img(src="img/coding/freelance-2.jpg", alt="")
    a.visit(href="http://velaraglobal.com"): img(src="img/coding/freelance-3.jpg", alt="")