extends subpage-template

block content
  #project-nav
    a#prev-project(href="culture-htmlworkshop.html", title="See Previous Project") &larr;
    a#next-project(href="culture-sports.html", title="See Next Project") &rarr;
  article
    h1 Team Workshop
    p Always seeking to inspire and to be inspired by others, I ran a creative workshop at work amongst my design colleagues.
      |We brainstormed self-branding and personal logos/identities. After answering some questions about our goals and strengths,
      |people sketched out some ideas, and then we switched the answers among our peers, and had them create one for us! I enjoy facilitating
      |workshops filled with laughs aplenty and creativity abound.

  #project-content
    -for(var i= 1;i<=5;i++)
      img(src="img/culture/teamworkshop-"+i+".jpg", alt="")