extends subpage-template
block document-title
  title Navy Field 2
block content
  #project-nav
    a#prev-project(href="coding-freelance.html", title="See Previous Project") &larr;
    a#next-project(href="graphics-illustration.html", title="See Next Project") &rarr;
  article
    h1 Navy Field 2 Brand &amp; Positioning Guide
    p A forthcoming addition to the Nexon game lineup, my team was entrusted with creating a brand and positioning guide for Navy Field 2.
      |We conducted user interviews, feedback sessions, with constant iteration and communication with stakeholders to produce a look for a
      |game that is unique, memorable, and easy to comprehend. My duties included project scoping, copywriting, and presentations to stakeholders.

  #project-content
    -for(var i= 1;i<=4;i++)
      img(src="img/graphics/nf2-"+i+".jpg", alt="")