!!!5
html
  head
    link(rel="stylesheet",href="css/styles.css")
    script(src="//use.typekit.net/mmr6vas.js")
    script
      try{Typekit.load();}catch(e){}     
  body.home
    #wrap
      include includes/header
      #content
        h2 Welcome to the portfolio of Carlos Ortega. I love to design and code interactive digital experiences.
        #filter-nav
          p Filer by:
          a(data-filter="*", href="#") All
          a(data-filter=".coding", href="#") Coding
          a(data-filter=".graphics", href="#") Graphics
          a(data-filter=".culture",href="#") Culture

        ul#work-list
          li#nexonnet.coding
            a(href="coding-nexonnet.html")
              .info
                span.tag HTML+CSS+JS
              .description
                p I handled front-end developer duties on nexon.net. Nexon is the industry leader in free to play massively multiplayer online games...
                span.more See More
          li#nexonprojects.coding
            a(href="coding-nexonprojects.html")
              .info
                span.tag HTML+CSS+JS
              .description
                p Whether it is a CMS-driven post page, content update teaser pages, a full site build, marketing campaign or lightbox special events...
                span.more See More
          li#jclaw.coding
            a(href="coding-jclaw.html")
              .info
                span.tag HTML+CSS+JS
              .description
                p Corporate website? No problem. Let's make it clean, fast, and simple to follow. What it lacks in pizzazz and visual flair, we make up by...
                span.more See More  
          li#nf2.graphics
            a(href="graphics-nf2.html")
              .info
                span.tag Branding
              .description
                p A forthcoming addition to the Nexon game lineup, my team was entrusted with creating a brand and positioning guide...
                span.more See More  
          li#photography.graphics
            a(href="graphics-photography.html")
              .info
                span.tag Photography
              .description
                p Armed with my Sony a300 or meager phone camera, you never know when a good shot is aching to be taken.
                span.more See More  
          li#voting.graphics
            a(href="graphics-voting.html")
              .info
                span.tag Graphic Design
              .description
                p I was approached by my company to create a presentation for the office, imploring people to vote...
                span.more See More   
          li#illustration.graphics
            a(href="graphics-illustrations.html")
              .info
                span.tag Illustrations
              .description
                p Sometimes one needs to get away from lines of code or step away from the conventional and just plain draw.
                span.more See More  
          li#teamworkshop.culture
            a(href="culture-teamworkshop.html")
              .info
                span.tag Culture
              .description
                p Always seeking to inspire and to be inspired by others, I ran a creative workshop...
                span.more See More 
          li#htmlworkshop.culture
            a(href="culture-htmlworkshop.html")
              .info
                span.tag Culture
              .description
                p I love teaching and mentoring others, and this workshop was an opportunity to enrich the skillsets...
                span.more See More  
          li#sports.culture
            a(href="culture-sports.html")
              .info
                span.tag Culture
              .description
                p For the past three years, I've organized company sporting events. Sometimes we have awesome prizes...
                span.more See More                                                                                                                                              


    script
      $(function(){
      })  