extends subpage-template
block document-title
  title Fo' O Fo'
block content
  article
    h1 Aw snaps
    p You've reached a page that doesn't exist. Don't worry, <a href="/">this link will guide you back home</a>.
