!!!5
html
  include includes/head
  body
    include includes/header
    #content
      h1 FO' O' FO'
      p Oh noes, you've reached a page that doesn't exist. My bad, please go back home and try again.

    include includes/footer

