!!!5
html
  include includes/head
  body.sub
    #wrap
      include includes/header
      #content
        section#work-detail
          article(data-article="stylus")
            h1 Stylus Presentation
            .project-content
              -for(var i= 1;i<=3;i++)
                .img-wrap
                  img(src="img/culture/stylus-"+i+".jpg", alt="",width="600",height="400")
            p CSS Pre-processors are amazing, and I had the honor and privelege to present Stylus to the HTML5 LA Developer's group
              |in Santa Monica. I followed an incredible presentation by Braden Roseborough, UI Engineer at Lynda.com, on Sass and
              |LESS. Over 170 attended, and I spoke about the benefits of using <a href="http://learnboost.github.io/stylus/" target="_blank">Stylus</a>
              |over other pre-processors (I see it as the hipster of pre-processors. Everything else is just too mainstream). Checkout
              |the <a href="http://www.meetup.com/HTML5LA/events/138932472/" target="_blank">Meetup event page</a> for more details, or download my deck below.
            a.visit(href="http://www.slideshare.net/CarlosOrtega57/stylus-27209784") Download Presentation
          article(data-article="papercraft")
            h1 Papercraft
            .project-content
              -for(var i= 1;i<=6;i++)
                .img-wrap
                  img(src="img/graphics/box-"+i+".jpg", alt="",width="600",height="400")
            p I went through a papercraft phase a couple years back, printing out and building these little guys to my heart's content.
              | I had the most fun designing and crafting my own characters. Watch out for Milita Mouse, Unloved Imp, Evil Twin and others!
              | Go ahead and download a few of them, print them out and build your own friends!
            a.visit(href="downloads/papercraft.zip") Download Papercraft
        #project-nav
          a#prev-project(href="#", title="See Previous Project") Previous Project
          a#home(href="./", title="Home") Home
          a#next-project(href="#", title="See Next Project") Next Project

        section#contact
          h1 Contact Me
          a(href='#') Email
          a(href="#") LinkedIn
          a(href="#") Twitter

        section#about
          h1 About Me
          p
            img.left(src="img/me.jpg",alt="Me")
            |My name is Carlos Ortega, and I currently live and work in Los Angeles, CA. I grew up with drawing NBA team logos and making my own
            |personal comic books, so it's only natural that I ended up in a creative career. I'm seeking an environment of learning, collaboration,
            |mentoring and passion, a place where my contributions can enhance the experience of clients and colleagues alike!
          a(href="#") Resume

        section#copyright
          p &copy; 2014 Carlos Ortega All Rights Reserved

    script(src="http://code.jquery.com/jquery-2.0.0.min.js")
    script(src="js/scripts.js")

