!!!5
html
  include includes/head
  body
    #wrap
      include includes/header
      #content
        block content
        a#top(href="#") Back to Top
    script(src="http://code.jquery.com/jquery-2.0.0.min.js")
    script(src="js/scripts.js")        