doctype html
html
  include includes/head
  body
    include includes/header
    #content
      a.anchor#work
      section#work-detail
        article(data-article="stylus")
          h1.project-title Stylus Presentation
          .project-content
            -for(var i= 1;i<=3;i++)
              .img-wrap
                img(src="img/culture/stylus-"+i+".jpg", alt="",width="600",height="400")
          p CSS Pre-processors are amazing, and I had the honor and privelege to present Stylus to the HTML5 LA Developer's group
            |in Santa Monica. I followed an incredible presentation by Braden Roseborough, UI Engineer at Lynda.com, on Sass and
            |LESS. Over 170 attended, and I spoke about the benefits of using <a href="http://learnboost.github.io/stylus/" target="_blank">Stylus</a>
            |over other pre-processors (I see it as the hipster of pre-processors. Everything else is just too mainstream). Checkout
            |the <a href="http://www.meetup.com/HTML5LA/events/138932472/" target="_blank">Meetup event page</a> for more details, or download my deck below.
          a.visit(href="http://www.slideshare.net/CarlosOrtega57/stylus-27209784")
            i.fa.fa-external-link
            |View Presentation

        article(data-article="papercraft")
          h1.project-title Papercraft
          .project-content
            -for(var i= 1;i<=6;i++)
              .img-wrap
                img(src="img/design/box-"+i+".jpg", alt="",width="600",height="400")
          p I went through a papercraft phase a couple years back, printing out and building these little guys to my heart's content.
            | I had the most fun designing and crafting my own characters. Watch out for Milita Mouse, Unloved Imp, Evil Twin and others!
            | Go ahead and download a few of them, print them out and build your own friends!
          a.visit(href="downloads/papercraft.zip")
            i.fa.fa-arrow-circle-down
            |Download Papercraft

        article(data-article="shift")
          h1.project-title SHIFT
          .project-content
            -for(var i = 1;i<=5;i++)
              .img-wrap
                img(src="img/coding/shift-"+i+".jpg", alt="", width="600",height="400")
          p SHIFT is the real-time marketing platform for brands and agencies, enabling marketers to collaborate
            | and manage their social media campaigns. I worked on the HTML and CSS for the platform
            | and the Media Manager social advertising app, using the latest CSS3 technologies and techniques to create an exciting,
            | robust experience for one of the most up and coming start-ups in the United States today.
          a.visit(href="http://www.shift.com")
            i.fa.fa-external-link
            |Visit Site

        article(data-article="nexonnet")
          h1.project-title nexon.net
          .project-content
            -for(var i= 1;i<=3;i++)
              .img-wrap
                img(src="img/coding/nexonnet-"+i+".jpg", alt="", width="600",height="400")
          p I handled front-end developer duties on nexon.net. Nexon is the industry leader in free to play massively
            |multiplayer online games, and this portal site enables users to sign up, manage their account, and charge
            |virtual currency. This sit is built using the Jade templating engine, LESS for stylesheets, and a custom
            |NodeJS build-script to put it all together.
          a.visit(href="http://www.nexon.net")
            i.fa.fa-external-link
            |Visit Site

        article(data-article="nexonprojects")
          h1.project-title Nexon Projects
          .project-content
            -for(var i= 1;i<=5;i++)
              .img-wrap
                img(src="img/coding/nexonprojects-"+i+".jpg", alt="", width="600",height="400")
          p Whether it is a CMS-driven post page, content update teaser pages, a full site build, marketing campaign or
            |lightbox special events, I've worked in every facet of the web world at Nexon America. What started as Flash-heavy,
            |table-centered websites have turned into HTML5 experience for our users. I created naming conventions for use across
            |our entire portfolio, from image names to CSS style rules, and guidelines for efficient development and deployment.
          a.visit(href="https://github.com/cyborgspider/nexon")
            i.fa.fa-external-link
            |Visit Github Repo

        article(data-article="freelance")
          h1.project-title Freelance
          .project-content
            -for(var i= 1;i<=5;i++)
              .img-wrap
                img(src="img/coding/freelance-"+i+".jpg", alt="", width="600",height="400")
          p From corporate websites, restaurant social networks, to my own personal side projects, I enjoy
            |practicing my craft outside the office walls. I'm constantly trying to provide extra value to my clients,
            |such as delivering best-practices documentation and initiating post-launch project maintenance training sessions.
            |I love to frequent industry meet-ups and events, and am always looking for ways to contribute to the community and my profession.

        article(data-article="nf2")
          h1.project-title Navy Field Branding Guide
          .project-content
            -for(var i= 1;i<=4;i++)
              .img-wrap
                img(src="img/design/nf2-"+i+".jpg", alt="", width="600",height="400")
          p A forthcoming addition to the Nexon game lineup, my team was entrusted with creating a brand and positioning guide for Navy Field 2.
            |We conducted user interviews, feedback sessions, with constant iteration and communication with stakeholders to produce a look for a
            |game that is unique, memorable, and easy to comprehend. My duties included project scoping, copywriting, and presentations to stakeholders.

        article(data-article="photography")
          h1.project-title Photography
          .project-content
            -for(var i= 1;i<=7;i++)
              .img-wrap
                img(src="img/design/photo-"+i+".jpg", alt="", width="600",height="400")
          p Armed with my Sony a300 or smart-phone camera, you never know when a good shot is aching to be taken. I enjoy taking
            |pictures of street art, architecture, and nature, but hope to branch out to portraits and sports photography someday!
          a.visit(href="http://instagram.com/cyborgspider")
            i.fa.fa-instagram
            |View Instagram

        article(data-article="illustration")
          h1.project-title Illustration
          .project-content
            -for(var i=1;i<=8;i++)
              .img-wrap
                img(src="img/design/illustration-"+i+".jpg", alt="", width="600",height="400")
          p Sometimes one needs to get away from lines of code or step away from the conventional and just plain draw. I love the ease and fluidity of my Wacom tablet, and the ability to create colorful, captivating design and artwork. From corporate logos to overly cutesy doodles or grungy distressed style, the only limit is my imagination!


        article(data-article="voting")
          h1.project-title Voting Initiative
          .project-content
            -for(var i= 1;i<=5;i++)
              .img-wrap
                img(src="img/design/voting-"+i+".jpg", alt="", width="600",height="400")
          p I was approached by a colleague to help her create a presentation for the office, imploring people to vote. What started as
            |a ho-hum powerpoint turned into a full scale presentation, complete with a take home brochure, snacks &amp; refreshements, and a fog machine
            |(scratch that, no budget for the fog machine).
          p I lead and scoped the project, and created the graphics and copy for the presentation and brochure. Needless to say, I voted in 2012, and
            |I certainly hope I persuaded several of my coworkers to do the same!

        article(data-article="teamworkshop")
          h1.project-title Team Workshop
          .project-content
            -for(var i= 1;i<=5;i++)
              .img-wrap
                img(src="img/culture/teamworkshop-"+i+".jpg", alt="", width="600",height="400")
          p Always seeking to inspire and to be inspired by others, I ran a creative workshop at work amongst my design colleagues.
            |We brainstormed self-branding and personal logos/identities. After answering some questions about our goals and strengths,
            |people sketched out some ideas, and then we switched the answers among our peers, and had them create one for us! I enjoy facilitating
            |workshops filled with laughs aplenty and creativity abound.

        article(data-article="sports")
          h1.project-title Company Sports
          .project-content
            -for(var i= 1;i<=5;i++)
              .img-wrap
                img(src="img/culture/sports-"+i+".jpg", alt="", width="600",height="400")
          p At my office, I've organized intramural company sporting events. Sometimes we have awesome prizes, sometimes we do it for
            |the love of the sport. Basketball, table tennis, foosball; you get to see who's REALLY competitive among your peers! Whether it be setting
            |the teams and schedules, creating team logos, getting the word out through email or CEO presentations, the only thing that I enjoy doing more
            |than playing is setting the whole thing up!


        //- article(data-article="template")
        //-   h1 template
        //-   .project-content
        //-     -for(var i= 1;i<5;i++)
        //-       .img-wrap
        //-         img(src="img/template/box-"+i+".jpg", alt="", width="600",height="400")
        //-   p template
        //-   a.visit(href="#") template

    .btn-nav
      a.btn#prev-project(href="#", title="See Previous Project")
        i.fa.fa-chevron-left
      a.btn#home(href="./", title="Home") Home
      a.btn#next-project(href="#", title="See Next Project")
        i.fa.fa-chevron-right

    include includes/footer
    script.
      $(function(){
        loadHash();
        indicateCurrentPage('work')
      })

