a.anchor#contact
section#section-contact
  h2.section-title Find Me
  p Don't hesitate to say &ldquo;Hello!&rdquo; or ask me any questions. I&rsquo;m available for freelance work, consulting, or great tales of adventure at your next company picnic (better than booze and softball!)
  .btn-nav.sns
    a.sns-btn(href='#')
      i.fa.fa-envelope
    a.sns-btn(href="#")
      i.fa.fa-linkedin-square
    a.sns-btn(href="#")
      i.fa.fa-twitter
    a.sns-btn(href="#")
      i.fa.fa-github-alt

a.anchor#about
section#section-about
  h2.section-title About Me
  .avatar
    img(src="img/me.jpg",alt="Me")
  p My name is Carlos Ortega, and I currently live and work in Southern California. I grew up drawing NBA team logos and creating my own
    |comic books, so it's only natural that I ended up in a creative career. I thrive and contribute to an environment of learning, collaboration,
    |mentoring and passion, a place where my efforts and enthusiasm can enhance the experience of users and colleagues alike!
  a(href="#") Resume

section#copyright
  p &copy; 2014 Carlos Ortega. Work shown is for self-promotional, hiring-opportunity purposes only. All Rights Reserved.

script(src="http://code.jquery.com/jquery-2.0.0.min.js")
script(src="js/scripts.js")