body.home
  .project-title
    line-height 1.4
    @media only screen and (min-width:768px)
      max-width 600px
      margin-left auto
      margin-right auto

#filter-nav
  clear         both
  text-align    center
  margin-top    24px
  margin-bottom 36px
  p
    display      inline-block
    margin-right 12px
    color        #56666c
  a
    display        inline-block
    margin-right 12px
    text-align   center
    color        $black
    &:hover
    &.active
      text-decoration underline

#work-list
  clear    both
  overflow hidden
  margin-bottom 24px
  &>li
    width     100%
    height    220px
    max-width 400px
    position  relative
    margin 0 auto 12px
    cursor pointer
    @media only screen and (min-width:768px)
      width  220px
      margin 0 12px 12px 0
      float  left
    &:hover   .description
    &.active  .description
      opacity 1

.tag
  position   absolute
  left       0
  top        0
  z-index    2
  color      $black
  background #abccd8
  padding    3px 10px
  box-shadow 1px 1px 2px rgba(0,0,0,0.2)

.more
  background #c1272d
  z-index    2
  color      #fff
  position   absolute
  padding    3px 10px
  bottom     0
  right      0

.description
  color      #fff
  background $black
  background rgba(0,0,0,0.8)
  z-index    1
  position   absolute
  width      100%
  height     100%
  opacity    0
  transition opacity 0.2s linear
  p
    position    absolute
    width       80%
    top         48px
    left        24px
    font-weight bold
    @media only screen and (min-width:768px)
      top 36px