body.home
  .project-title
    line-height 1.4
    @media only screen and (min-width:768px)
      max-width    600px
      margin-left  auto
      margin-right auto

#filter-nav
  clear         both
  text-align    center
  margin-top    24px
  margin-bottom 36px
  p
    display      inline-block
    margin-right 12px
    color        #56666c
  a
    display        inline-block
    margin-right 12px
    text-align   center
    color        $black
    &:hover
    &.active
      text-decoration underline

#work-list
  clear    both
  overflow hidden
  margin-bottom 24px
  &>li
    cursor    pointer
    height    220px
    margin    0 auto 12px
    max-width 400px
    position  relative
    width     100%

    @media only screen and (min-width:768px)
      float  left
      margin 0 12px 12px 0
      width  220px

    &:hover   .description
    &.active  .description
      opacity 1

.tag
  background #abccd8
  box-shadow 1px 1px 2px rgba(0,0,0,0.2)
  color      $black
  left       0
  padding    3px 10px
  position   absolute
  top        0
  z-index    2

.more
  background #c1272d
  bottom     0
  color      #fff
  padding    3px 10px
  position   absolute
  right      0
  z-index    2

.description
  background $black
  background rgba(0,0,0,0.8)
  color      #fff
  height     100%
  opacity    0
  position   absolute
  transition opacity 0.2s linear
  width      100%
  z-index    1
  p
    font-weight bold
    left        24px
    position    absolute
    top         48px
    width       80%

    @media only screen and (min-width:768px)
      top 36px
