global-reset()
body
html
  height 100%

body
  background #fff
  font       14px/24px Verdana, sans-serif
  color      $black

a
  text-decoration none
  color #fff
  &:hover
    color $black
p
  clear         both
  margin-bottom 16px

  &>a
    color $blue

.fa
  transition color 0.2s ease-out

.section-title
  font-family   'Ubuntu'
  font-size     28px
  margin-bottom 28px
  text-align    center

.dn
  display none
.left
  float left
.right
  float right

img.left
  margin-right  20px
  margin-bottom 10px

#content
  clear    both
  overflow hidden
  padding  92px 20px 20px
  position relative

.project-title
  font-family   'Ubuntu'
  font-size     32px
  line-height   36px
  margin-bottom 36px
  text-align    center

#logo
  cursor       pointer
  float        left
  height       56px
  margin-right 24px
  margin-top   2px
  text-indent  -9999px
  width        56px

#nav-wrap
  background     $blue-nav
  box-shadow     0 1px 0 0 rgba(0,0,0,0.2)
  height         60px
  left           0
  line-height    60px
  position       fixed
  text-transform uppercase
  top            0
  width          100%
  z-index        3

nav
  padding 0 20px

.nav-links
  margin     0 -20px
  max-height 0
  overflow   hidden
  transition all 0.4s ease-in-out

  @media only screen and (min-width:768px)
    margin     0 0 0 30px
    max-height none
    transition none

  body.open &
    clear      both
    max-height 20em

  & > a
    background $blue-nav
    border-bottom solid 1px $blue
    clear      both
    display    block
    float      none
    font-size  16px
    padding-left 24px
    text-align left
    width      100%

    &> .fa
      color        white
      margin-right 10px

      @media only screen and (min-width:768px)
        display none

    @media only screen and (min-width:768px)
      background transparent
      border     none
      clear      none
      display    inline-block
      float      left
      margin     0 30px 0 0
      padding    0
      width      auto

    &.active
    &:hover
      color  $black
      &> .fa
        color $black

.nav-btn
  color     white
  cursor    pointer
  display   block
  font-size 32px
  position  absolute
  right     24px
  top       14px

  &:hover
    color $blue-light
  @media only screen and (min-width:768px)
    display none !important

.btn-nav
  margin-bottom 40px
  text-align    center
  clearfix()
  &.sns
    margin-top    20px
    margin-bottom 12px

//BUTTONS AND LINKS
.btn
  myButton()
  display inline-block
  margin-left 5px

  &>.fa
    font-size 20px
    vertical-align middle

#prev-project
  margin-left 0

.visit
  color   $blue-nav
  display block

  &>.fa
   margin-right 4px
  @media only screen and (min-width:768px)
    margin-left  auto
    margin-right auto
    max-width    600px

.sns-btn
  background-color $magenta
  border-radius    100%
  display          inline-block
  height           48px
  line-height      48px
  margin-left      8px
  width            48px

  &:hover
    &> .fa
      color $blue-nav
  &:first-child
    margin-left 0
  &> .fa
    font-size      24px
    color          white
    vertical-align middle
    &.fa-envelope
      margin-top -3px

//IMAGE AND PROJECTS
.img-wrap
  box-sizing    border-box
  margin        auto
  margin-bottom 12px
  width         100%

  @media only screen and (min-width:768px)
    width 640px

  &>img
    border    solid 1px $gray-light
    display   block
    height    auto
    margin    auto
    max-width 100%

#work-detail
  margin-bottom 20px
  article
    display none
  article.active
    display block
  @media only screen and (min-width:768px)
    p
      max-width 600px
      margin-left auto
      margin-right auto

.project-content
  clear         both
  margin-bottom 24px

//CONTACT
#section-contact
  background $blue-light
  padding    40px 16% 20px
  text-align center

  @media only screen and (min-width:768px)
    padding-left 20%
    padding-right 20%
    p
      max-width 600px
      margin 0 auto

//ABOUT ME
#section-about
  padding 40px 16%
  text-align center
  @media only screen and (min-width:768px)
    padding-left  20%
    padding-right 20%
    max-width     600px
    margin        0 auto
.avatar
  width         96px
  height        96px
  border-radius 100%
  overflow      hidden
  margin        0 auto 24px
  &>img
    height 100%

//COPYRIGHT
#copyright
  padding 0 16%
  font-size 10px
  text-align center
  @media only screen and (min-width:768px)
    max-width     600px
    margin        0 auto

//Anchor
.anchor
  display block
  position relative
  top -60px
