header
  h1
    a#logo(href="#") cyborgspider.com, the portfolio of Carlos Ortega.
  #nav-wrap
    nav
      a(href="#").active Work
      a(href="about-me.html") About Me
      a(href="resume_CarlosOrtega.pdf", target="_blank") R&eacute;sum&eacute;
      a(href="mailto:carlos@cyborgspider.com") Email