header
  #nav-wrap
    nav
      h1#logo: a(href="./") cyborgspider.com, the portfolio of Carlos Ortega.   
      block nav-links
        a(href="#").active Work
        a(href="about-me") About Me
        a(href="resume_CarlosOrtega.pdf", target="_blank") R&eacute;sum&eacute;
        a(href="mailto:carlos@cyborgspider.com") Email