$black    = #2b3336
$blue     = #4d93b1
$blue-nav = #66AEC7
$blue-gray = #56666c

myButton()
  background    $blue-nav
  border-radius 2px
  padding       3px 10px
  text-align    center
  color         #fff
  display       table  
  box-shadow    0 1px 0 0 rgba(0,0,0,0.2)
  &:hover
    background $blue-gray