@media screen and (max-width:1178px)
  body
    position relative

@media screen and (max-width:768px)
  .home #wrap 
  nav
    padding 0 20px
  
@media screen and (max-width:400px)
  body
    position relative
