@media screen and (max-width:400px)
  #wrap
    padding 0 10px
  #logo
    float  none
    margin 0 auto 10px
  #nav-wrap
    height   auto
    position absolute
    padding 10px 0
    nav
      a
        display     block
        clear       both
        text-align  center
        float       none
        margin      0
        line-height 32px
  #content
    padding-top 240px

@media screen and (max-width:640px)
  .img-wrap
    width 100%
@media screen and (max-width:768px)
  #wrap
  nav
    padding 0 20px
@media screen and (min-width:1168px)
  #wrap
  nav
    max-width 960px
    margin 0 auto