#nexonnet
#nexonprojects
#jclaw
#spot
#nf2
#photography
#voting
#illustration
#teamworkshop
#htmlworkshop
#sports
#shift
#papercraft
  background url(../img/work-list.jpg) no-repeat

$increment = -220px
#nexonnet
  background-position 0 0
#nexonprojects
  background-position 0 $increment
#jclaw
  background-position 0 $increment*2
#nf2
  background-position 0 $increment*3
#photography
  background-position 0 $increment*4
#voting
  background-position 0 $increment*5
#illustration
  background-position 0 $increment*6
#teamworkshop
  background-position 0 $increment*7
#htmlworkshop
  background-position 0 $increment*8
#sports
  background-position 0 $increment*9
#shift
  background-position 0 $increment*10
#papercraft
  background-position 0 $increment*11